html,body{
    background:grey; padding:0; margin:0;
}
.main{
    width:200px; background:gray; margin: auto ; padding:50px;
}
#form{
    float: left; width:200px; background:darkgray; padding:60px;
}
#form>label,#form>input{
    display:block;
}
#form>label{
     width:100px; color:black;
}
#form>input{
    width:200px; height:30px; margin-bottom:10px;
}
#form>#sub{
    float: left; width:70px; height:30px; margin:0 auto;
}