.bigColumn {
    flex: 0 0 400px;
}
#bill {
    font-family: "Courier New", Courier, monospace;
    height: 600px;
}
.lightgray {
    background-color: lightgray;
}
.thick-right-border {
    border-right-width: 3px !important;
}
.font-lg {
    font-size: 1.2rem;
}
.font-xl {
    font-size: 1.4rem;
}
.no-bold {
    font-weight: normal;
}
