.bigColumn {
    flex: 0 0 476px;
}
.hugeColumn {
    flex: 0 0 500px;
}
.gigaColumn {
    flex: 0 0 1000px;
}
#bill {
    font-family: "Courier New", Courier, monospace;
    height: 400px;
}
#confirmContainer {
    height: 100px;
}
.graybox {
    background-color: rgb(232,232,232);
    border-radius: 30px;
}
.font-lg {
    font-size: 1.2rem;
}
.font-xl {
    font-size: 1.4rem;
}
.no-bold {
    font-weight: normal;
}
.bigButton {
    width: 140px !important;
    height: 100px !important;
}
.bigBox {
    width: 305px !important;
    height: 100px !important;
}

#lockButton {
    padding: 12px 30px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: dodgerblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
   text-decoration-color: #0f1620;
}

#lockButton:hover {background-color: dodgerblue}

#lockButton:active {
    background-color: dodgerblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}