.bigColumn {
    flex: 0 0 400px;
}
.font-lg {
    font-size: 1.2rem;
}
.font-xl {
    font-size: 1.4rem;
}
.no-bold {
    font-weight: normal;
}
.bigButton {
    width: 140px !important;
    height: 100px !important;
}
.bigBox {
    width: 300px !important;
    height: 100px !important;
}
