<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: headFragment"/>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"/>

<div class="container">

    <div class="starter-template">
        <h1>403 - Access is denied</h1>
        <div th:inline="text">Hello <!--'[[${#httpServletRequest.remoteUser}]]'-->,
            you do not have permission to access this page.
            Please choose another option or contact the bar manager.</div>
    </div>
    <br>
    <div class="container">
        <a class="navbar-brand" th:href="@{/order}">Go back to Order</a>
    </div>


</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>