<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: headFragment" />
    <title>Catalog Overview</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar" />

    <h1>Overview of existing categories</h1>
    <table>
        <tr>
            <th>Category name</th>
        </tr>
        <tr th:each="category: ${allCategories}">
            <td><a th:href="@{/catalog/product/{categoryId}(categoryId=${category.categoryId})}">
                <span th:text="${category.name}"></span></a></td>
            <td><a class="button" th:href="@{/catalog/update/{categoryId}(categoryId=${category.categoryId})}">Update</a></td>
            <td><a th:href="@{/catalog/delete/{categoryId}(categoryId=${category.categoryId})}">Delete</a></td>
        </tr>
    </table>

<br>

<h1>Create new category / Update for category <span th:text="${category.name}"/> </h1>
    <form action="#" th:action="@{/catalog/add}" th:object="${category}" method="post">
        <p><input type="hidden" th:field="*{categoryId}"  /></p>
        <p>Category name: <input type="text" th:field="*{name}" required />
            <span style="color:Tomato;" th:text="${error}"> </span>
        </p>
        <p><input name="action" type="submit" value="Save" />
        <input type="reset" value="Reset"></p>
    </form>

<br>

    <h1> Products of category <span th:text="${category.name}"/></h1>
    <p><a class="button" th:href="@{/catalog/product/{categoryId}/add(categoryId=${category.categoryId})}">Add new product</a></p>
    <table>
       <tr>
           <th>Product name</th>
           <th>Product price</th>
       </tr>
        <tr th:each="product: ${allProducts}">
            <td><a th:href="@{/catalog/product/update/{productId}(productId=${product.productId})}">
                <span th:text="${product.name}"></span></a></td>
            <td th:text="${product.price}"/>
            <td><a th:href="@{/catalog/product/delete/{productId}(productId=${product.productId})}" class="button">Delete</a></td>
       </tr>
   </table>

    <div th:replace="fragments/footer :: footer"/>

</body>
</html>