<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: headFragment" />
    <title>Catalog Overview</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar" />
    <h1>Overview of existing categories</h1>
    <table>
        <thead>
            <tr>
                <th>Category name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category: ${allCategories}"> </tr>
                <td th:text="${category.getname()}"></td>
        </tbody>
    </table>

<br>

<h1>Create / Update Category <span th:text="${user.name}"/></h1>
<form action="#" th:action="@{/category/add}" th:object="${category}" method="post">

</form>
<div th:replace="fragments/head :: scriptFragment" />

</body>
</html>