<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: headFragment" />
    <title>Catalog Overview</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar" />
    <h1>Overview of existing categories</h1>
    <table>
        <tr>
            <th>Category name</th>
        </tr>
        <tr th:each="category: ${allCategories}">
            <td th:text="${category.name}"/>
            <td><a class="button" th:href="@{/category/update/{categoryId}(categoryId=${category.categoryId})}">Update </a></td>
        </tr>
    </table>

<br>

<h1>Create / Update Category </h1>
    <form action="#" th:action="@{/catalog/add}" th:object="${category}" method="post">
        <p><input type="hidden" th:field="*{categoryId}"  /></p>
        <p>Category name: <input type="text" th:field="*{name}" required />
            <span style="color:Tomato;" th:text="${error}"> </span>
        </p>
        <p><input name="action" type="submit" value="save" /></p>
    </form>

</body>
</html>