<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv='content-type' content='text/html;charset=utf-8' />
    <title>Lockout</title>
    <link type='text/css' rel='stylesheet' href='css/lockout.css' />
</head>
<body>
<div class='main'>
    <form th:action="@{/lockout}" method="post">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Invalid pincode.
            </div>
        </div>
        <div id='form' >
            <label sec:authentication="name"> Username </label>
            <br>
            <label for='pin'>PINCODE</label><input id='pin' name='pin' type='password'  />
            <input id='sub' type='submit' class="btn btn-lg btn-secondary btn-block " value='Login' />
        </div>
    </form>
</div>
</body>
</html>