<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: headFragment" />
    <title>Order</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar" />
    <input hidden th:field="${user.userId}" id="User">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1>Place Order</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col border-right bigColumn">
                <h2 class="border-bottom">
                    Categories
                </h2>
                <div class="list-group list-group-flush" id="categoryList">
                    <button class="list-group-item list-group-item-action categoryButton" th:each="category: ${allCategories}"
                        th:id="${'category' + category.getCategoryId()}"
                        th:attr="categoryName=|${category.getName()}|, onclick=|selectCategory(${category.getCategoryId()})|">
                        <span th:text="${category.name}"/>
                    </button>
                </div>
            </div>
            <div class="col border-right bigColumn" >
                <h2 class="border-bottom">
                    Products
                </h2>
                <div class="list-group list-group-flush" id="productList">
                    <button class="list-group-item list-group-item-action d-flex productListItem"
                            th:each="product: ${allProducts}"
                            th:id="${'product' + product.getProductId()}"
                            th:attr="productPrice=|${product.getPrice()}|,
                                 productName=|${product.getName()}|,
                                 category=|${product.getCategory().getCategoryId()}|,
                                 onclick=|addProduct(${product.getProductId()})|,
                                 productId=|${product.productId}|" >
                        <div th:text="${product.name}" />
                        <div th:text="${product.euroPrice()}" class="ml-auto" />
                        <input type="hidden" value="0" class="productCountBox" th:id="${'productCount' + product.getProductId()}" />
                    </button>
                </div>
            </div>
            <div class="col bigColumn" >
                <div id="bill">
                    <h2>
                        Bill
                    </h2>
                    <div id="billProductList" class="list-group list-group-flush">
                    </div>
                    <h3 class="d-flex">
                        Total
                        <div id="totalPrice" class="ml-auto">
                            €0,00
                        </div>
                    </h3>
                </div>
                <hr>
                <div id="payment">
                    <h2>Payment</h2>
                    <div id="paymentError" class="alert alert-danger"></div>
                    <div id="paymentSuccess" class="alert alert-success">Payment successful.</div>
                    <button class="btn btn-secondary mb-2" id="cashPayButton" onclick="doCashPayment()">
                        Direct Payment
                    </button>
                    <button class="btn btn-secondary mb-2" id="addPrepaidButton" onclick="addPrepaidCustomer()">
                        New Prepaid Customer
                    </button>
                    <button class="btn btn-secondary mb-2" id="payPrepaidButton" onclick="doPrepaidPayment()">
                        Prepaid Payment
                    </button>
                </div>
                <datalist th:field="${user.userId}" id="userList">
                    <option th:each="user: ${#lists.sort(allUsers)}" th:value="${user.username}"  th:label="${user.name}"></option>
                </datalist>
                <input class="form-control mb-2" placeholder="Select Customer" list="userList"  id="searchUser" autocomplete="off" required>
                <div id="topup">
                    <div class="form-inline mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="currentBalance">Balance: ...</span>
                            </div>
                            <input type="text" class="form-control" id="topUpAmount" placeholder="Top-Up Amount"
                                   data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"/>
                            <div class="input-group-append" >
                                <button class="btn btn-secondary" onclick="doTopUp();" >Top-Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/header :: scriptFragment" />
    <script type="text/javascript" th:src="@{/js/order.js}" ></script>
    <script type="text/javascript" th:src="@{/js/order_currency.js}" ></script>
    <div th:replace="fragments/footer :: footer"/>
</body>
</html>