<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: headFragment" />
    <title>Order</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar" />
    <h1>Product catalog</h1>
    <ul id="productList">
        <li th:each="product: ${allProducts}"
            th:id="${'product' + product.getProductId()}"
            th:attr="productPrice=|${product.getPrice()}|, productName=|${product.getName()}|" >
            <span th:text="${product.name}"/>
            <span th:text="${product.euroPrice()}"/>
            <button th:attr="onclick=|addProduct(${product.getProductId()})|">+</button>
            <button th:attr="onclick=|removeProduct(${product.getProductId()})|">-</button>
            <input type="hidden" value="0" class="productCountBox" th:id="${'productCount' + product.getProductId()}" />
        </li>
    </ul>
    <h2>Bill</h2>
    <div id="billProductList">

    </div>
    <h2>
       Total Price
        <span id="totalPrice">€0,00</span>
    </h2>
    <button id="cashPayButton" onclick="doCashPayment()" style="display:none;" >
        Direct Payment
    </button>
    <button id="addPrepaidButton" onclick="addPrepaidCustomer()" style="display:none;">
        Add Prepaid Customer
    </button>
    <div th:replace="fragments/head :: scriptFragment" />
    <script type="text/javascript" th:src="@{/js/order.js}" ></script>
</body>
</html>