<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: headFragment" />
    <title>Order</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar" />
    <input hidden th:field="${user.userId}" id="User">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1>Place Order</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col graybox p-4 gigaColumn">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col border-right border-dark bigColumn p-3">
                            <h2 class="border-bottom border-dark mt-0">
                                Categories
                            </h2>
                            <div class="list-group list-group-flush" id="categoryList">
                                <button class="list-group-item list-group-item-action categoryButton rounded mt-3"
                                        th:each="category: ${allCategories}"
                                        th:id="${'category' + category.getCategoryId()}"
                                        th:attr="categoryName=|${category.getName()}|, onclick=|selectCategory(${category.getCategoryId()})|">
                                    <span th:text="${category.name}"/>
                                </button>
                            </div>
                        </div>
                        <div class="col bigColumn thick-right-border p-3" >
                            <h2 class="border-bottom border-dark">
                                Products
                            </h2>
                            <div class="list-group list-group-flush" id="productList">
                                <button class="list-group-item list-group-item-action list-group-item-dark rounded
                                                d-flex productListItem mt-3"
                                        th:each="product: ${allProducts}"
                                        th:id="${'product' + product.getProductId()}"
                                        th:attr="productPrice=|${product.getPrice()}|,
                                 productName=|${product.getName()}|,
                                 category=|${product.getCategory().getCategoryId()}|,
                                 onclick=|addProduct(${product.getProductId()})|,
                                 productId=|${product.productId}|" >
                                    <div th:text="${product.name}" />
                                    <div th:text="${product.euroPrice()}" class="ml-auto" />
                                    <input type="hidden" value="0" class="productCountBox" th:id="${'productCount' + product.getProductId()}" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col hugeColumn h-100">
                <div id="bill" class="d-flex flex-column rounded pt-4">
                    <h2>
                        Bill
                    </h2>
                    <div id="billProductList" class="list-group list-group-flush mb-auto overflow-auto">
                    </div>
                    <h3 class="d-flex mb-0">
                        Total
                        <div id="totalPrice" class="ml-auto">
                            €0,00
                        </div>
                    </h3>
                </div>
                <hr>
                <div id="paymentButtons" class="mb-4 d-flex justify-content-between">
                    <div class="bigButton">
                        <button class="btn btn-primary p-3 font-xl w-100 h-100" id="selectCustomerButton"
                                data-toggle="modal" data-target="#customerModal" onclick="choosePayment();">
                            <i class="fas fa-user-check"></i> Select<br>Customer
                        </button>
                    </div>
                    <div class="bigBox p-2 border rounded">
                        <div class="row">
                            <div class="col-sm">
                                <h3 id="customerName" class="text-truncate"></h3>
                                <p id="customerInfo"></p>
                            </div>
                            <div class="col-sm">
                               <!--User mini profile picture-->
                                <div class="text-center"><img id="profileFoto2" th:src="|data:image/jpeg;base64,${picture}|"
                                                              class="img-fluid p-1 " alt="Profile Picture" style="width: 80%; height: 90px"/></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between flex-wrap mb-4">
                    <div class="bigButton">
                        <button class="btn btn-dark p-3 font-xl payment w-100 h-100" id="cashPayButton"
                                onclick="choosePayment('direct')"> <i class="fas fa-cash-register"></i>
                            Direct<br>Payment
                        </button>
                    </div>
                    <div class="bigButton">
                        <button class="btn btn-dark p-3 font-xl payment w-100 h-100" id="payPrepaidButton"
                                onclick="choosePayment('prepaid')">
                            Prepaid<br>Payment
                        </button>
                    </div>
                    <div class="bigButton">
                        <button class="btn btn-dark p-3 font-xl payment w-100 h-100" id="payCreditButton"
                                onclick="choosePayment('credit')">
                            Credit<br>Payment
                        </button>
                    </div>
                </div>
                <div id="confirmContainer">
                    <div id="paymentError" class="alert alert-danger mb-4"></div>
                    <div id="paymentSuccess" class="alert alert-success mb-4"></div>
                    <button class="btn btn-success p-3 font-xl w-100" id="confirmPayButton"
                            onclick="confirmPayment();" style="display: none;">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="customerModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="modalLabel">Select Customer</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="savingUserError" class="alert alert-danger modal-body m-3" >
                </div>
                <div id="savingUserSucces" class="alert alert-success modal-body m-3" >
                    Saving successful.
                </div>
                <div class="modal-body">
                    <button class="btn btn-dark mb-2" id="addPrepaidButton" onclick="addPrepaidCustomer()">
                        <i class="fas fa-user-plus"></i> New Prepaid Customer
                    </button>
                    <datalist th:field="${user.userId}" id="userList">
                        <option th:each="user: ${#lists.sort(allUsers)}" th:value="${user.username}"  th:label="${user.name}"></option>
                    </datalist>
                    <input class="form-control mb-2" placeholder="Select Customer" list="userList"  id="searchUser" autocomplete="off" required>
                    <div>
                        <!--Displays the current profile picture for the selected user-->
                        <div>
                            <div>
                                <div class="text-center"><img id="profileFoto" th:src="|data:image/jpeg;base64,${picture}|"
                                                              class="img-fluid " alt="Profile Picture" style="width: 350px; height: 250px"/></div>
                            </div>
                        </div>
                    </div>
                    <div id="prepaid">
                        <hr>
                        <h5>Prepaid</h5>
                        <div class="form mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="currentBalance">Balance: ...</span>
                                </div>
                                <input type="text" class="form-control" id="topUpAmount" placeholder="Top-Up Amount"
                                       data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"/>
                                <div class="input-group-append" >
                                    <button class="btn btn-secondary" onclick="doTopUp();" >Top-Up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger mt-2" id="noPaymentError" style="display: none;">
                        This user has no payment privileges.
                    </div>
                    <div class="text-center mt-2" id="chooseUser">
                        <h2>
                            <button class="btn-large p-3 border rounded btn-primary w-50" onclick="chooseThisUser();"><i class="far fa-check-circle"></i></button>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newCustomerModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="modalLabelNewUser">New Customer</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="newCustomerForm" action="#" th:object="${user}" method="post" onsubmit="submitUser(event)">
                        <input type="hidden" name="role" th:field="*{roles}"  th:value="ROLE_CUSTOMER" />
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 100px;" id="basic-addon1">Username</span>
                            </div>
                            <input type="text" id="usernameInput" class="form-control" placeholder="Username"
                                   aria-label="Username" aria-describedby="basic-addon1" th:field="*{username}" onfocusout="checkIfUserNameExists()" required>
                        </div>
                        <div class="alert alert-danger" id="usernameError" style="display: none;">
                            This username already exists.
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend" >
                                <span class="input-group-text" style="width: 100px;" id="basic-addon4">Name</span>
                            </div>
                            <input type="text" id="nameInput" class="form-control" placeholder="Name" aria-label="Name"
                                   aria-describedby="basic-addon4" th:field="*{name}" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" th:field="*{prepaidAllowed}" id="prepaidNewCustomer">
                                <label for="prepaidNewCustomer">Prepaid payment</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-secondary" id="saveButton" onclick="saveNewCustomer()">Create</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/header :: scriptFragment" />
    <script type="text/javascript" th:src="@{/js/order.js}" ></script>
    <script type="text/javascript" th:src="@{/js/order_currency.js}" ></script>
    <div th:replace="fragments/footer :: footer"/>
</body>
</html>