<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head>
    <div th:replace="fragments/header :: headFragment" />
    <title>Create/Update product</title>
</head>
<body>
    <h1>Create/Update product</h1>
    <form id="productForm" action="#" th:action="@{/catalog/product/{categoryId}/add}" th:object="${product}" method="post">
        <p><input type="hidden" th:field="*{productId}"  /></p>
        <p>Product name: <input type="text" th:field="*{name}" required />
            <span style="color:Tomato;" th:text="${error}"> </span>
        </p>
        <p>Price: <input type="text" th:field="*{price}" /></p>
        <p>Category:
            <select th:field="*{category}">
                <option value=""> </option>
                <option th:each="category: ${allCategories}" th:value="${category.categoryId}"
                        th:text="${category.name}"></option>
            </select>
        </p>
        <p>
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
        </p>
        <p th:type="button">Cancel to go back to catalogOverview</p>
    </form>
    <p id="errorBox" style="color: red;"></p>

</body>
</html>