<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: headFragment" />
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar" />
<div class="container">
    <h1>Heading</h1>
    <div class="row">
        <div class="col-2 border-right">
            <h2 class="border-bottom">
                Column1
            </h2>
        </div>
        <div class="col-5 border-right">
            <h2 class="border-bottom">
                Column2
            </h2>
        </div>
        <div class="col-5">
            <h2>
                Column3
            </h2>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/header :: scriptFragment" />
</body>
</html>
