<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Create a new user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Create a new user</h1>
<form action="#" th:action="@{/user/new}" th:object="${user}" method="post">
    <p>Username: <input type="text" th:field="*{username}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p>Role:

        <input type="radio" id="Barmanager" name="*{role}" value="Barmanager">
        <label for="barmanager">Barmanager</label>

        <input type="radio" id="Bartender" name="*{role}" value="Bartender">
        <label for="bartender">Bartender</label>

        <input type="radio" id="Customer" name="*{role}" value="Customer" checked>
        <label for="customer">Customer</label>
    </p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
