<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: headFragment" />
    <title>User Overview</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar" />

    <h1>Overview of existing users</h1>
    <table>
        <tr>
            <th>Full name</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Balance</th>
            <th>Prepaid</th>
            <th>Credit</th>
        </tr>
        <tr th:each="user: ${#lists.sort(allUsers)}">
            <td th:text="${user.name}" />
            <td th:text="${user.username}" />
            <td th:text="${user.getDisplayRoles()}" />
            <td th:text="${user.balance}" />
            <td th:if="${user.prepaidAllowed}">On</td><td th:if="${!user.prepaidAllowed}">Off</td>
            <td th:if="${user.creditAllowed}" >On</td><td th:if="${!user.creditAllowed}" >Off</td>
            <td><a class="button" th:href="@{/user/update/{userId}(userId=${user.userId})}">Update </a></td>
            <td><a th:href="@{/user/delete/{userId}(userId=${user.userId})}">Delete</a></td>
        </tr>
    </table>
    <br>

    <h1>Create new user / Update for user: <span th:text="${user.name}"/></h1>
    <form action="#" th:action="@{/user/add}" th:object="${user}" method="post">
        <p th:if="${user.userId != null}"><input type="hidden" th:field="*{userId}"  /></p>
        <p>Username: <input type="text" th:field="*{username}" required />
            <span style="color:Tomato;" th:text="${error}"> </span></p>
        <p>Password: <input type="password" th:field="*{password}" /></p>
        <p th:if="${user.userId != null}">Pin code: <input type="password" th:field="*{pin}" name="*{pin}"
        onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,''),
        alert('only numbers')" id="password" value="" placeholder="Pincode is only number"></p>
        <p>Full Name: <input type="text" th:field="*{name}" required/></p>
        <p>Roles:
            <input type="radio" th:field="*{roles}" id="customer" th:name="*{roles}" th:value="ROLE_CUSTOMER">
            <label for="Customer">Customer</label>
            <input type="radio" th:field="*{roles}" id="bartender" th:name="*{roles}" th:value="'ROLE_CUSTOMER,ROLE_BARTENDER'">
            <label for="Bartender">Bartender</label>
            <input type="radio" th:field="*{roles}" id="barmanager" th:name="*{roles}" th:value="'ROLE_CUSTOMER,ROLE_BARTENDER,ROLE_BARMANAGER'">
            <label for="Barmanager">Barmanager</label>
        </p>
        <div>
            <label for="Prepaid">Prepaid payment off: (checked is on)</label>
            <input type="checkbox" th:field="*{prepaidAllowed}" id="Prepaid" th:value="false"> </div>
            <div >
                <label id="Prepaid-Choice-Label" for="Prepaid-Choice">The prepaid balance: </label>
                <input type="text" id="Prepaid-Choice" name="Prepaid-Choice"  th:field="*{balance}">
            </div>
        <div>
            <label for="Credit">Credit:</label>
            <input type="checkbox" th:field="*{creditAllowed}"  id="Credit"  th:value="true">
            <div >
                <label id="Credit-Choice-Label" for="Credit-Choice">What is your bank account number?</label>
                <input type="text" id="Credit-Choice" name="Credit-Choice"  th:field="*{creditPaymentBankAccountNumber}">
            </div>
        </div>
        <p><input name="action" type="submit" value="Save" />
           <input type="reset" value="Reset"></p>
    </form>
    <br>
    <h1>User Search</h1>
    <form action="#" th:action="@{/user/update/{userId}(userId=${user.userId})}" th:object="${user}" method="get">
        <label for="searchUser">Search your user from the list:</label>
        <input list="userList"  id="searchUser" autocomplete="off" required>
        <datalist th:field="${user.userId}" id="userList">
            <option th:each="user: ${#lists.sort(allUsers)}" th:value="${user.username}" th:label="${user.name}"></option>
        </datalist>
    </form>
    <button onclick="updateSelectedUser()">Select User</button>
    <div th:replace="fragments/footer :: footer"/>
    <div th:replace="fragments/header :: scriptFragment" />
    <script type="text/javascript" th:src="@{/js/userOverview.js}" ></script>
</body>
</html>